.gameOver {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, .5);
}

.gameOver__buttons {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.Board table {
  border-collapse: collapse;
}

.Board table td {
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  border: 2px solid #546E7A;
  padding: 20px;
}

.Board table td div {
  width: 50px;
  height: 50px;
}
